.music-player-main{
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  padding-top: 3rem;
  gap: 1rem;
}

.music-player-image{
  max-width: fit-content;
}

.current-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-track-info {
  display: flex;
  flex-direction: column;
  gap: 1px;
  p {
    margin: 0;
    text-align: center;
  }
}

.track-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}